.navbar-completo{
    display: flex;
    justify-content: space-around;
    background-color: #7E60BF;
    height: 75px;
    align-items: center;
    font-size: 20px;
}

.navbar-completo ul{
    display: flex;
    gap: 40px;
}

.navbar-completo ul li{
    list-style: none;
}