.divItemDetail{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.cardItemDetail{
    background-color: #7E60BF !important;
    border-left: 1px solid black;
    border-right: 1px solid black;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}